.img-round{
    border-radius: 50%;
    height: 50px;
}
.coplead{
    font-size: 10px;
    margin: 0px auto;
    padding: 0px auto;
    p{
        margin: 2px auto;
    }
    h3{
        margin: 0px auto;
    }
}